.App-header {
  background-color:antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.stats tbody tr{
  background-color: white;
  font-weight: normal;
  font-size: small;
}

.pefil text{
  color: black;
  font-weight: normal;
  font-size: small;
}

.foto{
  width: 20%;
  height: 40%;
  float: bottom;
  padding-bottom: 1cm;
}

.court{
  width: 35%;
  height: 50%;
  float: right;

}

.datos{
  font-size: medium;
  padding-bottom: 1cm;
}

